name: 'Send Slack notification'

on:
  issue_comment:
    types: [created]
  issues:
    types: [opened]
  workflow_dispatch:

jobs:
  send-slack-notification:
    runs-on: ubuntu-latest
    steps:
      - name: GitHub issue commented
        id: slack-comment
        uses: slackapi/slack-github-action@v1.26.0
        with:
          channel-id: ${{ secrets.SLACK_CHANNEL_ID }}
          payload: |
            {
              "text": "GitHub issue commented",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":github: User _${{ github.event.comment.user.login }}_ commented issue:\\n><${{ github.event.issue.html_url }}|*${{ github.event.issue.title }}*> \\n>${{ github.event.comment.body }}"
                  }
                }
              ]
            }
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        if: github.event_name == 'issue_comment' && !(github.event.comment.user.login == 'Muph0' || github.event.comment.user.login == 'lananovikova10' || github.event.comment.user.login == 'siarb' || github.event.comment.user.login == 'azhebel')

      - name: GitHub issue submitted
        id: slack-opened
        uses: slackapi/slack-github-action@v1.26.0
        with:
          channel-id: ${{ secrets.SLACK_CHANNEL_ID }}
          payload: |
            {
              "text": "GitHub issue submitted",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":github: User _${{ github.event.issue.user.login }}_ submitted issue:\\n><${{ github.event.issue.html_url }}|*${{ github.event.issue.title }}*> \\n>${{ github.event.issue.body }}".replace(/\n/g, "\\n")
                  }
                }
              ]
            }

        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        if: github.event_name == 'issues' && github.event.action == 'opened' && !(github.event.issue.user.login == 'Muph0' || github.event.issue.user.login == 'lananovikova10' || github.event.issue.user.login == 'siarb' || github.event.comment.user.login == 'azhebel')
